name: Check for new release of llama-cpp-python 

on:
  schedule:
    - cron: '0 0,12 * * *'
  workflow_dispatch:

permissions: write-all

jobs:
  check:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v4
        
      - name: Get latest release
        id: get_release
        run: |
          # Fetch release information and extract the release tag
          RELEASE_TAG=$(curl -s https://api.github.com/repos/abetlen/llama-cpp-python/releases/latest | jq -r '.tag_name')
          echo "release_tag=$RELEASE_TAG" >> $GITHUB_OUTPUT
          echo "latest release: $RELEASE_TAG"

      - name: Compare with previous release
        id: compare_release
        run: |
          # Read the release info from the downloaded artifact
          PREVIOUS_RELEASE=$(cat llama-cpp-python-release-info 2> /dev/null || echo "NONE")
          echo "previous release: $PREVIOUS_RELEASE"

          # Compare the fetched release tag with the previous release tag
          if [ "${{ steps.get_release.outputs.RELEASE_TAG }}" != "$PREVIOUS_RELEASE" ]; then
            echo "release_changed=true" >> $GITHUB_OUTPUT
            echo "Release changed: true"
          else
            echo "release_changed=false" >> $GITHUB_OUTPUT
            echo "Release changed: false"
          fi

      - name: Call workflow to build code
        if: steps.compare_release.outputs.release_changed == 'true'
        uses: benc-uk/workflow-dispatch@v1.2.2
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          workflow: build-wheels-full-release.yml
          inputs: '{ "version": "${{ steps.get_release.outputs.RELEASE_TAG }}"}'
      
      - name: Store artifacts
        run: |
          # Store the newly fetched release version in a file
          echo "${{ steps.get_release.outputs.RELEASE_TAG }}" > ./llama-cpp-python-release-info.txt
          echo "Saved ${{ steps.get_release.outputs.RELEASE_TAG }} to llama-cpp-python-release-info.txt"

      - name: Upload new artifacts
        uses: actions/upload-artifact@v4
        with:
          name: llama-cpp-python-release-info
          path: ./llama-cpp-python-release-info.txt
